{{ instruction }}
{% if stubs %}

Registered python types:
{{ stubs }}
{% endif %}
{% if skills %}

Skills:
{{ skills }}
{% endif %}
{% if environment %}

Environment:
{{ environment }}
{% endif %}
{% if kb %}

Knowledge base:
{{ kb }}
{% endif %}
